{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Contact Us</h2>
    <div>
        <h3>Postal Address</h3>
        <p><strong>Official Communication:</strong> K L Deemed to be University, Admin. Office, 29-36-38, Museum Road, Governorpet, Vijayawada. A.P., India. Pincode: 520 002.</p>
        <p><strong>Campus:</strong> K L Deemed to be University, Green Fields, Vaddeswaram, Guntur District, A.P., INDIA. Pincode: 522 502.</p>
    </div>
    <div>
        <h3>Phone Number</h3>
        <p><strong>Administrative Office (Vijayawada):</strong> 0866 - 3500122</p>
        <p><strong>Campus (Vijayawada):</strong> 08645 - 350200</p>
        <p><strong>Administrative Office (Hyderabad):</strong> 040 - 35045035</p>
        <p><strong>Campus (Hyderabad):</strong> 040 - 35045055</p>
    </div>
    <div>
        <h3>Fax Number</h3>
        <p><strong>Campus:</strong> 0863-2388999</p>
    </div>
</div>
{% endblock %}
